.card {
    width: 260px;
    height: max-content;
    background-color: #313131;
    color:white;
    border: 5px solid #313131;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    margin: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wrapper {
    width: 100%;
    height: 15em;
    display: flex;
    justify-content: center;
}

.albumImage {
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.KVPair {
    width: 90%;
    grid-template-columns: auto auto;
    display: grid;
    margin: 2px 0px;
}

.key {
    justify-self: left;
    color: lightgray;
    font-weight: bold;
    font-size: 1em;
}

.value {
    /* max-width: 80%; */
    max-width: 100%;
    justify-self: right;
    text-align: right;
/*     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    overflow: visible;
    white-space: wrap;
    font-size: 1em;
}

.album-title {
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    justify-self: left;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist-title {
    color: #bcbcbc;
    font-size: 1em;
    justify-self: left;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.value-clicked {
    overflow: visible;
    white-space: wrap;
}

.bubble {
    color:black;
    background-color: whitesmoke;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: bold;
}

.title {
    font-weight: bold;
}

.artist {
    font-style: italic;
}

.colored {
    color: whitesmoke;
}

.darkblue {
    background-color: cornflowerblue;
}

.blue {
    background-color: darkcyan;
}

.darkgreen {
    background-color: darkolivegreen;
}

.green {
    background-color: darkseagreen;
    color: #313131;
}

.orange {
    background-color: chocolate;
}

.red {
    background-color: maroon;
}

.yellow {
    background-color: yellow;
    color: #313131;
}

.pink {
    background-color: pink;
    color: #313131;
}

.delete-vinyl-button {
    background-color: #6e0404;
    color: #fff;
    width: 100%;
}

.change-vinyl-button {
    background-color: #FFD700;
    /*color: #fff;*/
    width: 100%;
    margin-top: 1rem;
}