.card {
    width: 260px;
    height: max-content;
    background-color: #313131;
    color:white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wrapper {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
}

.albumImage {
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.KVPair {
    width: 90%;
    grid-template-columns: auto auto;
    display: grid;
    margin: 2px 0px;
}

.key {
    justify-self: left;
    color: lightgray;
    font-weight: bold;
}

.value {
    max-width: 80%;
    justify-self: right;
    text-align: right;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

/*.value:hover {
    overflow: visible;
}*/

.bubble {
    color:black;
    background-color: whitesmoke;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: bold;
}

.title {
    font-weight: bold;
}

.artist {
    font-style: italic;
}

.colored {
    color: whitesmoke;
}

.darkblue {
    background-color: cornflowerblue;
}

.blue {
    background-color: darkcyan;
}

.darkgreen {
    background-color: darkolivegreen;
}

.green {
    background-color: darkseagreen;
    color: #313131;
}

.orange {
    background-color: chocolate;
}

.red {
    background-color: maroon;
}

.yellow {
    background-color: yellow;
    color: #313131;
}

.pink {
    background-color: pink;
    color: #313131;
}

.delete-vinyl-button {
    background-color: #6e0404;
    color: #fff;
    width: 100%;
}

.change-vinyl-button {
    background-color: cornflowerblue;
    color: #fff;
    width: 100%;
}