
#card-exchange-view {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    cursor:auto;
}

#card-exchange-cards {
    display: flex;
}

#card-exchange-cards > .card {
    cursor: pointer;
}

.card-select {
    border: 5px solid rgb(11, 130, 215);
}

#send-exchange-button {

}