
.mypage-sidebar-unclicked-link {
    background-color: #313131;
    color: whitesmoke;
    margin: 5px 0px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 7px;
}

.mypage-sidebar-unclicked-link:hover {
    background-color: #d1d1d1;
    color: #313131;
}

.mypage-sidebar-clicked-link {
    background-color: #d1d1d1;
    color: #313131;
    margin: 5px 0px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 7px;
}

.mypage-sidebar-clicked-link:hover {
    background-color: #d1d1d1;
    color: #313131;
}

.mypage-tab-content {
    color: #313131;
    margin: 0 0 0 50px;
    padding: 10px 20px;
    border-radius: 5px;
}

.add-vinyl-button {
    background-color: #d1d1d1;
    color: #313131;
    cursor: pointer;
    height: fit-content;
    border-radius: 5px;
    padding: 5px 7px;
    font-weight: 600;
    width: fit-content;
    margin: auto 0;
}

#newvinyl-popup {
    background-color: #313131;
    color: #e3e3e3;
    padding: 10px;
    border: 10px solid #1f1f1f;
    border-radius: 5px;
    box-shadow: 0 0 10px #1f1f1f;
    display: flex;
    flex-direction: column;
    cursor: auto;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    justify-content: center;
    align-content: center;
    z-index: 1;
}
/* Stavi background na dropdown panel jer inače će biti prozirno i neće se ništa vidjeti */
.p-dropdown-panel {
    background-color: #e3e3e3;
    color: #313131;
    border-radius: 5px;
}
/* Dodaj malo prostora elementima dropdown panela */
.p-dropdown-item {
    margin: 2px 4px;
}
/* Kad se unosi text, promijenit će se boja elementu dropdowna koji odgovara tekstu */
.p-dropdown-items > .p-focus {
    background-color: #c5c5c5;
}

.add-vinyl-img {
    width: 100px;
}

.titleGroup {
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    justify-self: center;
}

#closeButton {
    width:fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center
}

@media screen and (max-width: 933px /* Wide enough to fit two cards */) {
    .mypage-tab-content {
        margin: 0;
    }
    #newvinyl-popup {
        max-width: 300px;
        font-size: 3vw;
    }
}