.mypage-sidebar-unclicked-link {
    background-color: #313131;
    color: whitesmoke;
    margin: 5px 0px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 7px;
}

.mypage-sidebar-unclicked-link:hover {
    background-color: #d1d1d1;
    color: #313131;
}

.mypage-sidebar-clicked-link {
    background-color: #d1d1d1;
    color: #313131;
    margin: 5px 0px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 7px;
}

.mypage-sidebar-clicked-link:hover {
    background-color: #d1d1d1;
    color: #313131;
}

.mypage-tab-content {
    color: #313131;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
}

.add-vinyl-button {
    background-color: #d1d1d1;
    color: #313131;
    cursor: pointer;
    height: fit-content;
    border-radius: 5px;
    padding: 5px 7px;
    font-weight: 600;
    width: fit-content;
    margin: auto 0;
}

#newvinyl-popup {
    background-color: #fff;
    color: #e3e3e3;
    padding: 0 10px;
    border: 5px solid #1f1f1f;
    border-radius: 5px;
    box-shadow: 0 0 10px #1f1f1f;
    display: flex;
    flex-direction: column;
    cursor: auto;
    max-height: 100%;
    overflow: auto;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    justify-content: center;
    align-content: center;
    z-index: 1;
}
/* Stavi background na dropdown panel jer inače će biti prozirno i neće se ništa vidjeti */
.p-dropdown-panel {
    background-color: #e3e3e3;
    color: #313131;
    border-radius: 5px;
}
/* Dodaj malo prostora elementima dropdown panela */
.p-dropdown-item {
    margin: 2px 4px;
}
/* Kad se unosi text, promijenit će se boja elementu dropdowna koji odgovara tekstu */
.p-dropdown-items > .p-focus {
    background-color: #c5c5c5;
}

.add-vinyl-img {
    width: 100px;
}

.titleGroup {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 60px;
}

.addVinylForm {
    padding: 0 10px;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
}

.title {
    margin: 15px 0px 0px 15%;
}

#closeButton {
    width:fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
}

input[type="submit"], button[type="submit"] {
    cursor:pointer;
    font-weight: bold;
    font-size: larger;
    height: 60px;
    width: 180px;
    align-self: center;
    background-color: #313131;
    color: whitesmoke;
    margin-top: 15px;
}

input[type="file"] {
    padding-left: 10px;
}

input[type="image"] {
    padding: 8px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    color: #313131;
}

.inputGroup > input {
    border: 1px solid #313131;
}

.addVinylForm .filter-category-container {
    background-color: #f9f9f9;
}

.filter-category-container > div {
    border: 1px solid black;
}

.add-wishlist-genre > .filter-category > .filter-category-container > div{
    border: 1px solid black;
}


textarea {
    border-radius: 5px;
    border: 0px;
    height: 80px;
    resize: none;
}

.wide {
    grid-column: span 2;
    justify-self: center;
    width: 100%;
}

.mypage-mojeploce .card-list {
    overflow: visible;
    height: auto;
}

@media screen and (max-width: 991px /* Wide enough to fit two cards */) {
    .mypage-tab-content {
        margin: 0;
    }
    #newvinyl-popup {
        max-width: 500px;
        font-size: 3vw;
    }
    .addVinylForm {
        display: block;
    }
}