#offer-view {
    display: flex;
    flex-direction: column;
}

.offer {
    background-color: #d1d1d1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-bottom: 30px;
    border: 5px solid #313131;
    border-radius: 5px;
}

.offer-vinyls-wrap {

}

.offer-vinyls {
    display: flex;
    justify-self: center;
}

.offer-buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
}

.cancel-button {
    background-color: maroon;
    color: #f9f9f9;
    width: 100%;
}

.accept-button {
    background-color: green;
    color: #f9f9f9;
    width: 100%;
}

.change-button {
    background-color: dimgray;
    color: #f9f9f9;
    width: 100%;
}

.offer-switch-cards {
    display: flex;
    justify-content: space-evenly;
}

.offer-number-of-cards {
    display:flex;
    flex-direction: column;
}

.offer-number-of-cards > h4 {
    margin: 0;
    text-align: center;
}

hr {
    color: #313131;
}

.offer-title {
    background-color: #313131;
    color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.accepted {
    background-color: #004c0f;
}

.declined {
    background-color: #761200;
}